* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  overflow: hidden;
}

nav {
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(168, 70, 70);
}

.nav-input {
  display: flex;
  gap: 2em;
}

.show-add-project,
.show-add-task {
  font-size: 3em;
  padding: 0.2em;
}

.site-name {
  color: white;
  font-size: 8em;
}

.content {
  display: flex;
  flex-direction: column;
}

.project {
  margin: 1em 1em 0em 1em;
  font-size: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 201, 201);
  padding: 1em;
  transition: 0.5s;
}

.projct-view {
  height: 100vh;
  background-color: rgb(236, 236, 236);
}

.project-overlay,
.task-overlay,
.edit-task-overlay {
  font-size: 3em;
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.336);
}

.project-model,
.task-model,
.edit-task-model {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25em;
  background-color: aliceblue;
  position: absolute;
}

.task-model,
.edit-task-model {
  height: 28em;
}
.project-model {
  height: 8em;
}

.project-overlay,
.task-overlay,
.project-model,
.task-model,
.edit-task-overlay,
.edit-task-model {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#input-task-notes,
#input-task-desc {
  height: 5em;
}

.view-container {
  display: flex;
}
.projct-view {
  width: 50%;
}
.task-view {
  width: 50%;
  padding: 2em;
}

.active {
  background-color: rgb(255, 255, 255);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.indi-task-container {
  font-size: 3em;
}

.task-icons {
  display: flex;
  gap: 1em;
}
